*{
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
}

.left {
    width: 60%;
}

.right {
    width: 40%
}

.cardArea {
    display: flex;
    flex-direction: row;
}