
@import "./select.css";
@import"./weather.css";
@import "./right.css";
@import "./preview.css";

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    text-align: center;
    background-color: black;
    padding: 2rem;
    color: white;
    margin-bottom: 2rem;
}

#container {
    display: flex;
    flex-direction: row;
}

.left {
    width: 64%;
    padding: 1em;
}

.right {
    width: 34%;
    padding: .5em;
}

.cardArea {
    display: flex;
    flex-direction: row;
}

.weather {
    justify-content: space-evenly;
    margin: .5em
}

.weather__header {
    text-align: center;
    margin-top: .5em;
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.savedCards {
    align-content: center;
}

.itineraryCard__image {
    padding: 1em;
}

